html {
  /* box-sizing: border-box; */
  height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  max-width: 1000px;
  padding: 0 24px;
  margin: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-content: space-between;
  background-color: #EFF2F9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

div.full-height {
  flex: auto;
}

header {
  height: 60px;
  border-bottom: solid 1px silver;
}

p {
  margin: 0;
}

/* MESSAGES */
main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 212px);
  max-height: calc(100vh - 212px);
  overflow-y: scroll;
}

main .top-space {
  /* push messages at the bottom */
  flex: 1 1 auto;
}

.container-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 400px;
  /* border: 1px solid black; */
  margin-bottom: 20px;
}

.date {
  font-size: x-small;
  right: 10;
  text-align: end;
}

.plus-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #e6e6e6;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}

.plus-div div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: rgb(129, 129, 129);
  font-weight: 600;
}

.emoji-cont {
    display: flex;
    width: 20%;
    height: 24px;
    justify-content: space-between;
    align-items: center;
    /* background: red; */
}

.emoji-div {
  width: 20px;
  height: 100%;
  /* background: blue; */
}

.message {
  /* position: absolute; */
  width: 50%;
  padding: 12px 18px;
  border-radius: 6px;
  border: solid 1px #bbb;
  /* margin-bottom: 18px; */
}

.my-message {
  width: 50%;
  padding: 12px 18px;
  border-radius: 6px;
  border: solid 1px #bbb;
  background: #A8B6D4;
  /* margin-left: 40%; */
}

.message p {
  font-size: large;
}

.message span {
  font-size: small;
  font-weight: bold;
}

.my-message p {
  font-size: large;
}

.my-message span {
  font-size: small;
  font-weight: bold;
}

/* FORM */
form#new-message {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  border-top: solid 1px silver;
}

form#new-message > div {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
  align-items: center;
}

input {
  display: block;
  width: 100%;
  border: solid 1px silver;
  border-radius: 4px;
  outline: none;
  padding: 12px;
}

input[type='submit'] {
  padding: 12px;
  background-color: #2A3FD6;
  color: white;
}
